body {  
    background-image: url('https://cdn.jsdelivr.net/gh/Kilomiyaa/Kilomiyaa.github.io/static/background.jpg');  
    background-size: cover; /* 使背景图片覆盖整个页面 */  
    background-position: center; /* 使背景图片居中 */  
    background-repeat: no-repeat; /* 防止背景图片重复 */  
    margin: 0; /* 移除默认的页面边距 */  
    padding: 0; /* 移除默认的页面内边距 */  
}
